{{ define "main" }}
  <article>
    <header class="article-header">
      <h1 class="article-title">{{ .Title }}</h1>
      <div class="project-meta">
        {{ partial "badge-status.html" . }}
        {{ partial "badge-domains.html" . }}
      </div>
      <div class="article-meta">
        {{- with .Params.sourceCodeUrl }}<a href="{{ . }}">Source</a>{{ end }}
        {{- with .Params.demoUrl }} · <a href="{{ . }}">Demo</a>{{ end }}
        {{- with .Params.liveUrl }} · <a href="{{ . }}">Live</a>{{ end }}
        {{- with .Params.journalUrl }} · <a href="{{ . }}">Journal</a>{{ end }}
        {{- with .Params.reportUrl }} · <a href="{{ . }}">Report</a>{{ end }}
      </div>
    </header>
    <div class="article-body">
      {{ .Content }}
    </div>
  </article>
{{ end }}
